h1, h2, h3, h4, h5, h6, label {
  font-family: 'Dosis', sans-serif;
}

p, input {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#bay-vue {
  padding-top: 3vw;
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(to bottom, #e8f1ff,#f8f8f8);
}

#title h1 {
  font-size: 5vw
}

#title img {
  width: 14vw
}

.water {
  flex: auto;
  padding: 3vw;
  color: #ffffff;
  background: linear-gradient(to bottom, #a9ccff,#4780d4);
}

.water * {
  text-align: center;
}

.water h2 {
  font-size: 5vw;
}

.water h3 {
  font-size: 3.5vw;
}

#okta-logo {
  width: 12vw;
}

.standard-break {
  line-height: 6vw;
}

#mc_embed_signup {
  margin: 0 auto;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  font-size: 20px;
}

.email {
  border: none;
  height: 50px;
  border-radius: 6px;
  text-align: left;
  padding-left: 15px;
  background: linear-gradient(127deg, #d8e5f9, #c6ddff);
}

.button {
  cursor: pointer;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(240deg, #1cc7d0, #2dde98);
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.blog-card {
  width: 18rem;
  margin-right:10px;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
}

.card-text {
  margin-bottom: 10px;
}

@media screen and (max-width: 560px) {
  #title h1 {
    font-size: 28px;
  }
  #title img {
    width: 80px;
  }
  .water h2 {
    font-size: 28px;
  }
  .water h3 {
    font-size: 20px;
  }
  #okta-logo {
    width: 67px;
  }
}